In [61]:
import folium as f
import pandas as pd
import geopandas as gp
from shapely.geometry import Point, Polygon

In [116]:
data_points=pd.read_csv('Interview Challenge.csv')

In [117]:
data_points.head()

,id,latitudes/0,latitudes/1,latitudes/2,latitudes/3,longitudes/0,longitudes/1,longitudes/2,longitudes/3,latitudes/4,longitudes/4,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,7590cf21d1a446e3b07c92912a4a3c44,2.980511,2.980595,2.980763,2.980530,32.531686,32.531705,32.531327,32.531240,2.980515,32.531657,NaN,NaN,NaN,NaN,NaN
1,c7b3fde63650440abbaaecec33e30bfa,2.965254,2.965177,2.965122,2.966003,32.249756,32.250017,32.250278,32.250418,2.965983,32.249870,NaN,NaN,NaN,NaN,s
2,ef2b90b7ff804894a8413477cdfa0e86,2.961134,2.961096,2.961096,2.961162,32.240426,32.240401,32.240401,32.240312,2.960957,32.240535,NaN,NaN,NaN,NaN,NaN
3,604a8069c5bb4620b7394a7ec5603c18,2.961075,2.961193,2.960932,2.960932,32.240455,32.240537,32.240490,32.240490,2.961053,32.240440,NaN,NaN,NaN,NaN,NaN
4,9848201f11824ca5a7639aee61152122,2.960971,2.961101,2.961128,2.961035,32.240536,32.240386,32.240551,32.240573,2.960998,32.240462,NaN,NaN,NaN,NaN,NaN

In [118]:
# generate (lat,long) points for all sides
gdf = gp.GeoDataFrame(data_points, geometry=gp.points_from_xy(data_points["latitudes/0"], data_points["longitudes/0"]))
dg0=gdf.rename(columns={'geometry': 'Point0'}).set_geometry('Point0')
gdf = gp.GeoDataFrame(data_points, geometry=gp.points_from_xy(data_points["latitudes/1"], data_points["longitudes/1"]))
gd1=gdf.rename(columns={'geometry': 'Point1'}).set_geometry('Point1')

gdf = gp.GeoDataFrame(data_points, geometry=gp.points_from_xy(data_points["latitudes/2"], data_points["longitudes/2"]))
gd2=gdf.rename(columns={'geometry': 'Point2'}).set_geometry('Point2')
gdf = gp.GeoDataFrame(data_points, geometry=gp.points_from_xy(data_points["latitudes/3"], data_points["longitudes/3"]))
gd3=gdf.rename(columns={'geometry': 'Point3'}).set_geometry('Point3')
gdf = gp.GeoDataFrame(data_points, geometry=gp.points_from_xy(data_points["latitudes/4"], data_points["longitudes/4"]))
gd4=gdf.rename(columns={'geometry': 'Point4'}).set_geometry('Point4')
# data frame

data={'Point0':dg0['Point0'],'Point1':gd1['Point1'],'Point2':gd2['Point2'],'Point3':gd3['Point3'],'Point4':gd4['Point4']}
df = pd.DataFrame(data, columns= ['Point0', 'Point1','Point2','Point3','Point4'])
df

,Point0,Point1,Point2,Point3,Point4
0,POINT (2.98051 32.53169),POINT (2.98060 32.53170),POINT (2.98076 32.53133),POINT (2.98053 32.53124),POINT (2.98052 32.53166)
1,POINT (2.96525 32.24976),POINT (2.96518 32.25002),POINT (2.96512 32.25028),POINT (2.96600 32.25042),POINT (2.96598 32.24987)
2,POINT (2.96113 32.24043),POINT (2.96110 32.24040),POINT (2.96110 32.24040),POINT (2.96116 32.24031),POINT (2.96096 32.24053)
3,POINT (2.96107 32.24046),POINT (2.96119 32.24054),POINT (2.96093 32.24049),POINT (2.96093 32.24049),POINT (2.96105 32.24044)
4,POINT (2.96097 32.24054),POINT (2.96110 32.24039),POINT (2.96113 32.24055),POINT (2.96103 32.24057),POINT (2.96100 32.24046)

In [119]:
df['ID']=data_points['id']
df

,Point0,Point1,Point2,Point3,Point4,ID
0,POINT (2.98051 32.53169),POINT (2.98060 32.53170),POINT (2.98076 32.53133),POINT (2.98053 32.53124),POINT (2.98052 32.53166),7590cf21d1a446e3b07c92912a4a3c44
1,POINT (2.96525 32.24976),POINT (2.96518 32.25002),POINT (2.96512 32.25028),POINT (2.96600 32.25042),POINT (2.96598 32.24987),c7b3fde63650440abbaaecec33e30bfa
2,POINT (2.96113 32.24043),POINT (2.96110 32.24040),POINT (2.96110 32.24040),POINT (2.96116 32.24031),POINT (2.96096 32.24053),ef2b90b7ff804894a8413477cdfa0e86
3,POINT (2.96107 32.24046),POINT (2.96119 32.24054),POINT (2.96093 32.24049),POINT (2.96093 32.24049),POINT (2.96105 32.24044),604a8069c5bb4620b7394a7ec5603c18
4,POINT (2.96097 32.24054),POINT (2.96110 32.24039),POINT (2.96113 32.24055),POINT (2.96103 32.24057),POINT (2.96100 32.24046),9848201f11824ca5a7639aee61152122

In [120]:
df['p0'] = df['Point0'].apply(lambda x: x.coords[0])
df['p1'] = df['Point1'].apply(lambda x: x.coords[0])
df['p2'] = df['Point2'].apply(lambda x: x.coords[0])
df['p3'] = df['Point3'].apply(lambda x: x.coords[0])
df['p4'] = df['Point4'].apply(lambda x: x.coords[0])
df

,Point0,Point1,Point2,Point3,Point4,ID,p0,p1,p2,p3,p4
0,POINT (2.98051 32.53169),POINT (2.98060 32.53170),POINT (2.98076 32.53133),POINT (2.98053 32.53124),POINT (2.98052 32.53166),7590cf21d1a446e3b07c92912a4a3c44,"(2.980511294, 32.53168606)","(2.9805953069999904, 32.53170496)","(2.980763216, 32.5313268999999)","(2.980530115, 32.53124042)","(2.980515048, 32.53165663)"
1,POINT (2.96525 32.24976),POINT (2.96518 32.25002),POINT (2.96512 32.25028),POINT (2.96600 32.25042),POINT (2.96598 32.24987),c7b3fde63650440abbaaecec33e30bfa,"(2.965254116, 32.24975581)","(2.965177167, 32.25001674)","(2.9651219269999904, 32.25027776)","(2.9660027189999902, 32.25041817)","(2.965982687, 32.24986992)"
2,POINT (2.96113 32.24043),POINT (2.96110 32.24040),POINT (2.96110 32.24040),POINT (2.96116 32.24031),POINT (2.96096 32.24053),ef2b90b7ff804894a8413477cdfa0e86,"(2.961133892, 32.24042584)","(2.961096313, 32.24040081)","(2.961096313, 32.24040081)","(2.961162303, 32.24031172)","(2.9609566380000003, 32.24053492)"
3,POINT (2.96107 32.24046),POINT (2.96119 32.24054),POINT (2.96093 32.24049),POINT (2.96093 32.24049),POINT (2.96105 32.24044),604a8069c5bb4620b7394a7ec5603c18,"(2.961074677, 32.24045514)","(2.961193065, 32.24053653)","(2.960931713, 32.24049046)","(2.960931713, 32.24049046)","(2.961052613, 32.24043991)"
4,POINT (2.96097 32.24054),POINT (2.96110 32.24039),POINT (2.96113 32.24055),POINT (2.96103 32.24057),POINT (2.96100 32.24046),9848201f11824ca5a7639aee61152122,"(2.9609713419999903, 32.24053609)","(2.961101358, 32.24038613)","(2.961127715, 32.24055117)","(2.961034961, 32.24057251)","(2.9609978139999904, 32.24046197)"

In [121]:
df =df.drop(['Point0', 'Point1','Point2','Point3','Point4'], axis=1)
# df.reset_index()

In [122]:
df=df.transpose()
df

,0,1,2,3,4
ID,7590cf21d1a446e3b07c92912a4a3c44,c7b3fde63650440abbaaecec33e30bfa,ef2b90b7ff804894a8413477cdfa0e86,604a8069c5bb4620b7394a7ec5603c18,9848201f11824ca5a7639aee61152122
p0,"(2.980511294, 32.53168606)","(2.965254116, 32.24975581)","(2.961133892, 32.24042584)","(2.961074677, 32.24045514)","(2.9609713419999903, 32.24053609)"
p1,"(2.9805953069999904, 32.53170496)","(2.965177167, 32.25001674)","(2.961096313, 32.24040081)","(2.961193065, 32.24053653)","(2.961101358, 32.24038613)"
p2,"(2.980763216, 32.5313268999999)","(2.9651219269999904, 32.25027776)","(2.961096313, 32.24040081)","(2.960931713, 32.24049046)","(2.961127715, 32.24055117)"
p3,"(2.980530115, 32.53124042)","(2.9660027189999902, 32.25041817)","(2.961162303, 32.24031172)","(2.960931713, 32.24049046)","(2.961034961, 32.24057251)"
p4,"(2.980515048, 32.53165663)","(2.965982687, 32.24986992)","(2.9609566380000003, 32.24053492)","(2.961052613, 32.24043991)","(2.9609978139999904, 32.24046197)"

In [91]:
# Generate Polygons for points above
m=f.Map(location=[1.574143,33.545502],zoom_start=8)
m